py -m venv myenv

myenv\Scripts\activate

pip uninstall rest_framework

pip install rest_framework

pip install djangorestframework-jsonapi

pip install django-isbn-field

pip install requests

pip install pillow

py manage.py runserver